$bckBlack: #3c3c3c;
$bckBlack--darker:#2c2c2c;

$bckWhite: #ffffff;
$grey:#dddddd;
$grey--darker:#b8b8b8;

$bckOrange: #ff4800;
$bckOrange--darker:#d93d00;
$borderOrange:#f44336;

$bckYellow: #ffa800;
