.footer {
  text-align: center;
  color:$bckWhite;
  &__logo-venue {
    padding-top:50px;
    font-size: 60px;
    background: $bckOrange;
    margin-top:-5px;
  }

  &__copyright {
    font-size: 18px;
    padding-bottom: 50px;

  }
}


