.highlights {
  &__title {
    text-align: center;
    text-transform: uppercase;
    color:$bckBlack--darker;
    font-size: 52px;
  }

  &__description {
    line-height: 30px;
    font-size: 18px;
    font-weight: 300;
    border-top: 1px solid $grey;
    border-bottom: 1px solid $grey;
    padding: 30px 0px;
  }

}
