.location {
  &__wrapper {
    position:relative;
  }

  &__tag {
    position: absolute;
    bottom: 4px;
    width: 100%;
    
    div {
      background: $bckBlack--darker;
      color: $bckWhite;
      text-transform: uppercase;
      width: 220px;
      margin: 0 auto;
      font-size: 29px;
      padding: 15px 20px;
      text-align: center;

    }
  }
}


.location_tag div{

}